h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 0 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #ffffff;
}

address {
    font-style: normal;
}

.container { 
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    }

img {
    display: block;
    }

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/*-----------HEADER--------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;

}

.logo-header-accent{
    color: #2e2f42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
    gap: 40px;
}

.header-list-link{
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404bbf;
}

.studio-link {
    color: #404bbf;
}

.studio-link::after {
    content: "";
    display: block;
    bottom: -1px;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.address {
    margin-left: auto;
} 

.address-list {
    display: none;
}

.address-item {
}

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.menu-open-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    background-color: transparent;
}

.mob-menu {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mob-menu.is-open {
  transform: translateX(0);
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-studio-link {
    color:#404BBF;
}

.mob-menu-address {
    margin-bottom: 48px;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-address-tel {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    gap: 40px;
    vertical-align: bottom;
}

.close-menu-btn {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 24px;
    height: 24px;   
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
}

/*-------------MAIN---------*/

.main-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 72px;
    padding-bottom: 72px;
    min-width: 320px;
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-mob-2x.jpg);
    }
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 216px;
    margin: 0 auto;
    /* margin-bottom: 48px; */
    margin-bottom: 72px;

}

.order-button {
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor:pointer;
    border-radius: 4px;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

/*--------RULES--------*/

.rules {
    padding-top: 96px;
    padding-bottom: 96px;
}

.rules-item-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.rules-icon {
    
}

.rules-list {
    display: flex;
    margin: 0 auto;
    gap: 72px;
    flex-wrap: wrap;
}

.rules-item {
    width: 100%;
}

.rules-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.rules-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

/*----------TEAM--------*/

.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team > .container {
    padding: 0px 28px;
    /* width: 264px; */
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 100%;
    border-radius: 0 0 4px 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover .team-link,
.team-item:focus .team-link {
    background-color: #404bbf;
}

.team-image {
}

.team-name-container{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-links-item {
    width: 40px;
    height: 40px;
}

.team-link:hover, .team-link:focus {
    background-color: #404bbf;
}

.team-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;       
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-icon {
    fill: #f4f4fd;
}

/*-------PORTFOLIO-------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-container {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-hidden {
    transform: translateY(0%)
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-image {
    
}

.portfolio-hidden {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;        
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------FOOTER--------*/

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-div {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.logo-container {
    /* margin-right: 120px; */
}

.logo-footer-accent {
    color:#f4f4fd;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    /* max-width: 264px; */
}

.social-container {
    margin: 0 auto;
}

.links-footer {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    margin-bottom: 16px;
    text-align: center;

}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-links:hover,
.footer-social-links:focus {
    background-color: #31d0aa;
}

.footer-social-links {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: #f4f4fd;
}

.subscribe-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subs-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subs-text {
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.subs-input {
    /* width: 264px; */
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0,3;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 2;
    color: #ffffff;
    letter-spacing: 0.04em;
    background-color: transparent;
}

.subs-input::placeholder {
    color: #ffffff;
}

.subs-btn {
    display: flex;
    padding: 8px 24px;
    border-radius: 4px;
    /* min-width: 165px; */
    align-self: center;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.subs-plane {
    margin-left: 16px;
}

/*--------------BACKDROP--------------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open{
    opacity: 1;
    pointer-events: all;
}

.modal {
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 9px 24px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-modal-btn {
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 24px;
    height: 24px;   
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: #404BBF;
    border: none;
}


.close-modal-icon {
    display: block;
    margin: 0 auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover .close-modal-icon,
.close-modal-btn:focus .close-modal-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-l {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.input {
    padding: 8px 16px 8px 38px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.modal-comment {
    margin-bottom: 16px;
}

.user-comment {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.user-comment::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-policy {
    margin-bottom: 24px;
}

.policy-text-label {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    margin-bottom: 24px;
}

.modal-policy-check {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-checkbox:checked + .policy-text-label .modal-policy-check {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    border: none;
    background-image: url(../images/icons.svg#icon-checked);
    fill: #f4f4fd;
    
}

.privacy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: inline-block;
}

.modal-submit-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /*-------------TABLET-MEDIA-RESOLUTION---------------------*/

    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
        }
        
        .header-list {
            display: flex;
        }

        .address-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .address-link {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #434455;
        }

        .menu-open-btn {
            display: none;
        }

        .main-page {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-tab.jpg);            padding-top: 112px;
            padding-bottom: 112px;
            max-width: 768px;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx), (min-resolution: 192dpi) {
            .main-page {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-tab-2x.jpg);
            }
        }

        .main-title {
            font-size: 56px;
            line-height: 1.07;
            max-width: 496px;
            margin-bottom: 36px;
        }

        .rules-subtitle {
            text-align: left;
        }

        .rules-list {
            gap: 72px 24px;
        }

        .rules-item {
            width: calc((100% - 24px) / 2);
        }

        .team-list {
            gap: 64px 24px;
        }

        .team-item {
            width: calc((100% - 24px) / 2);
        }

        .team > .container {
            padding: 0px 108px;
        }

        .portfolio-list {
            gap: 72px 24px;
        }

        .portfolio-item {
            width: calc((100% - 24px) / 2);
        }

        .footer-div {
            gap: 72px 24px;
            display: flex;
            width: 584px;
        }

        .logo-container {
            max-width: 264px;
            /* margin-right: 24px; */
        }

        .footer-link {
            text-align: left;
        }

        .social-container {
            margin-left: 0;
        }
            

        .links-footer {
            text-align: left;
        }

        .subs-text {
            text-align: left;
        }

        .subs-form {
            flex-direction: row;
            gap: 24px;
        }

        .subs-input {
            width: 264px;
        }

        .subs-btn {
            /* align-items: center;
            justify-content: center; */
            min-width: 165px;
        }

        .modal {
            width: 408px;
            height: 584px;
            padding: 72px 24px 24px 24px;
        }
    }

    /*-------------DESKTOP-MEDIA-RESOLUTION---------------------*/


    @media screen and (min-width: 1158px) {
        .container {
            width: 1158px;
            padding: 0 15px;
        }

        .address-list {
            flex-direction: row;
            gap: 40px;;
        }

        .main-page {
            padding-top: 188px;
            padding-bottom: 188px;
            max-width: 1440px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-desk.jpg);            
            padding-top: 112px;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx), (min-resolution: 192dpi) {
    .main-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-main-desk-2x.jpg);
    }
}

        .main-title {
            margin-bottom: 48px;
        }

        .rules {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .rules-list {
            gap: 24px;
        }

        .rules-item {
            width: calc((100% - 3 * 24px) / 4);
        }

        .rules-item-icon {
            display: flex;
        }

        .rules-subtitle {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
        }

        .rules-text {
            font-weight: 400;
        }

        .team > .container {
            width: 1128px;
            padding: 0px;
        }

        .team {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .team-list {
            gap: 24px;
        }

        .team-item {
            width: calc((100% - 3 * 24px) / 4);
        }

        .portfolio {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        .portfolio-list {
            gap: 48px 24px;
        }

        .portfolio-item {
            width: calc((100% - 2 * 24px) / 3);
        }

        .footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .logo-container {
            margin-right: 120px;
        }

        .footer-link {
            display: inline-block;
        }

        .footer-text {
            width: 264px;
        }

        .subscribe-container {
            margin-left: 80px;
        }

        .footer-div {
            padding-left: 0;
            gap: 0;
            align-items: baseline;
            flex-wrap: nowrap;
        }

        .subscribe-container {
            margin-left: 80px;
        }

        .subs-form {
            gap: 24px;
        }

        .subs-input {
            width: 264px;
        }

        .subs-btn {
            min-width: 165px;
        }

        .input {
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);        
        }

        .input-icon {
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .input:focus {
            border-color: #4d5ae5;
        }
        
        .input:focus + .input-icon{
            fill: #4d5ae5;
        }

        .user-comment {
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .user-comment:focus {
            border-color: #4d5ae5;
        }
    }